.teachings-create {


    &__speaker-container {
       position: relative;
    }


    &__speaker-hidden {
        display: none;
        opacity: 0;
    }


    &__media {
        max-width: 20rem;
        @include spaceY(1rem);
    }

}
