.admin-form {

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__main {
        width: 60%;
    }

    & input {
        margin-bottom: 1rem;
    }

    & label {
        font-size: $font-size-lg;
    }


    & .form-group {
        padding: 1.5rem 0;
        border-bottom: 1px solid #576574;
    }


    &__sidebar {
        width: 30%;
        border-left: 1px solid $border-color;
        padding-left: 2rem;
    }

    &__btns {
      padding-top: 0 !important;
      @include flex-between();
    }

    &__publish-btn {
        margin-top: 1rem;
    }

    &__time {
        font-size: $font-size-lg;
    }


}
