.form-create {


    &__footer-btns {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }


    &__dialog {
        max-width: 1000px;
    }

    &__disable-inputs {

        position: relative;


        &--white::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: #ffffffc7;
        }

        &--transparent::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: transparent;
        }


    }


    &__preview {
        padding: 2rem;
        min-height: 10rem;
    }



    &__options {

        text-align: center;

        & button {
            margin-top: .6rem;
            margin-bottom: .6rem;
        }

    }


    &__preview-select {
        padding-left: 0;

    }

    &__pointer {
        cursor: pointer;
    }

    &__preview-select-input {
        position: relative;
        margin-left: .25rem;
    }



}
