.media-modal {

     padding-right: 0 !important;


     &__body{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
        @include res(900) {
            flex-direction: column;
            align-items: center;
        }
    }



    &__dialog {
        max-width: 75rem;
    }

    &__footer {
        padding: 1rem;
    }


    &__input-container {


        border-top: 1px solid $grey-dk;
        padding-top: 1rem;



        & > *:hover {
            cursor: pointer;
        }



    }



    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__more-container {
        padding: 2rem;
    }


    &__load-more-btn {
        width: 100%;
        margin: 1rem auto;
        text-align: center;
    }




    &__title {
        border-bottom: 1px solid $grey-dk;
        margin-bottom: 1rem;
    }




    &__media {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: calc((100% / 3) - 2rem);
        padding: 1rem;
        margin: 1rem;
        border-radius: .5rem;
        transition: all .2s ease-in;

        @include boxShadow($boxSgrey, 1rem);

        &:hover,
        &:focus {
            transform: translateY(-5px) scale(1.05);
            border: 1px solid $primary;
            cursor: pointer;
            @include boxShadow($primary, .5rem);
        }

        &:active::after {
           @include stretchBg($primary);
        }



        @include res(900) {
           width: 80%;
        }
    }


    &__selected-media {
        transform: translateY(-5px) scale(1.05);
        border: 1px solid $primary;
        z-index: 100;
        @include boxShadow($primary, .5rem);
    }





    &__wrapper {

        &-loader {
            min-height: 10rem;
            color: $secondary;
            background-color: $light;
            @include flex-center-center();
        }

    }



}
