.border-b {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #576574;
}

.border-t {
    padding-top: 1.5rem;
    border-top: 1px solid #576574;
}

.border-tb {
    padding: 1.5rem 0;
    border-bottom: 1px solid #576574;
    border-top: 1px solid #576574;
}


